.page-header
  = link_to edit_user_registration_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    Back

  %h1 Mis Alquileres

%table.tabla
  %thead
    %tr
      %th Película
      %th Fecha de Inicio
      %th Fecha de Final
  %tbody
    - current_user.rents.each do |r|
      %tr
        %td= link_to r.film.title, r.film
        %td= time_tag r.start_date
        %td= time_tag r.end_date
