<div id="carru">
  <div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><%=image_tag("robot_edit_reg.png")%></div>
      <div class="item"><%=image_tag("robot_reg.png")%></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<script>$('#myCarousel').carousel({ interval: 1200 })</script>

