<p><%= video_tag @film.movie.url, :size => "520x400", :controls => true, :id =>'pelicula' %></p>
<p><%= video_tag @film.movie.url, :size => "520x400", :controls => false, :id =>'anuncio' %></p>
<input type="text" id="FilmOrigin" style="display:none;" value=<%= @film.movie.url %> />
<% @commercials.each do |c| %>
   <input type="text" class="Commercials" style="display:none;" value=<%= c.file.url %> />
<% end %>
<script type="text/javascript">
   Commercials = document.getElementsByClassName("Commercials");
   NumElem=Commercials.length;
   v=document.getElementById("pelicula");
   a=document.getElementById("anuncio");

   v.addEventListener('play', function() {interval = window.setTimeout(function() {switchVideo()}, 4000);}
                   , false);
   a.addEventListener('ended', function() {finAnuncio();}
                   , false);
   v.addEventListener('ended', function() {clearInterval(interval);}
                   , false);

</script>
