<% if current_user %>
  <%= form_for ([@film, @rent]) do |f| %>
    <%= f.submit :class => 'btn btn-large btn-danger btnPurchase', :style => "width: 140px", :value => "Comprar: "+@film.buy_price.to_s+"€"%>
  <%end%>
  <%= form_for ([@film, @rent]) do |f| %>
    <%= f.submit :class => 'btn btn-large btn-danger btnPurchase', :style => "width: 140px", :value => "Alquilar: "+@film.rental_price.to_s+"€"%>
  <%end%>
<% else %>
   <p class="alquilado comprado">Logueate para alquilar o comprar la película</p>
<% end %>
