<% if user_signed_in? %>
  <li>
  <%= link_to('Edit Profile', edit_user_registration_path, class: "btn btn-mini btn-info") %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path, class: "btn btn-mini btn-info")  %>
  </li>
<% end %>
