/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


#form{
  width: 25%;
}
.input_form{
  height: 25px;
  width:100%;
}
.search-query{
  height: 36px;
}
#nav_pie{
  margin-left: 45%;
}
#log{
  position: relative;
  float:right;
}
.remember{
  width: 93%;
  float: right;
}

#logotipo{
  float:left;
  margin-right: 20px;
}

.user_name{
  margin-top: 15px;
  margin-right: 10px;
  font-size: 18px;
}
