/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.navbar-fixed-bottom{
  position: fixed;
  bottom: -18;
  right: -2;
  left: -2;
}

#form{
  width: 25%;
}
.input_form{
  height: 25px;
  width:100%;
}
#nav_pie{
  margin-left: 45%;
}

// MENU TOP

#logotipo{
  float:left;
  margin-top: 6px;
  margin-right: 20px;
}

.search-query{
  height: 36px;
  width: 350px;
  margin-top: 6px;
  margin-left: 48%;
}

#log{
  margin-top: 3px;
  float:right;
  list-style-type: none;
}
#log li a{
  width: 60px;
}

.user_name{ 
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
}

.remember{
  width: 91%;
  float: right;
}

.label{
  text-transform:uppercase;
}
