// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Panel_der,.Panel_izq{
	border:5px solid #FFA611;
	position:relative;
	height: 99%;
	width:	17%;
	padding: 0px;
}
.Panel_der{
	float:right;
}
.menu_izq{
	float:left;
}
.contenido{
	height: 99%;
	width:	40%;
	position:relative;
	border:5px solid #2B7336;
	float:left;
	padding: 0px;
}

.info{
  padding-top: 10%;
}

p.button {
  background: url('boton.png') no-repeat scroll top right;
  color: #444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
}
