// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//NAVBAR
.navbar-fixed-bottom{
  position: fixed;
  bottom: -18;
  right: -2;
  left: -2;
}

#nav_pie{
  margin-left: 45%;
}

// FORM
#form{
  width: 25%;
}
.input_form{
  height: 25px;
  width:100%;
}

.remember{
  width: 91%;
  float: right;
}

.label{
  text-transform:uppercase;
}

// MENU TOP
#logotipo{
  float:left;
  margin-top: 6px;
  margin-right: 20px;
}

.search-query{
  height: 36px;
  width: 350px;
  margin-top: 6px;
  margin-left: 48%;
}

#login{
  margin-top: 3px;
  float:right;
  list-style-type: none;
  li a{
    width: 60px;
  }
}

.user_name{ 
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
}
